<div class=class="has-navbar-fixed-top"></div>
<div class="tile">
    <div class="tile is-parent">
        <article class="tile is-child notification is-primary">
            <p class="title">{{article.title}}</p>
            <p class="subtitle">{{body}}</p>
        </article>
    </div>
</div>
<div class="tile is-ancestor">
    <div class="tile is-vertical is-6">
        <div class="tile is-parent">
            <article class="tile is-child notification is-info">
                <p class="title">Comment on this Article:</p>
                <div class="content">
                    <form action="/comment/{{article._id}}" method="POST" class="card-panel">
                        <div class="row">
                            <div class="input-field">
                                <i class="far fa-user"></i><p class="subtitle">Name</p>
                                <input id="icon_prefix" type="text" placeholder="Name" name="name" class="validate active">
                            </div>
                            <div class="input-field">
                                <i class="far fa-comments"></i><p class="subtitle">Comment</p>
                                
                                <input id="textarea" type="text" placeholder="Comment" name="comment" class="validate active">
                            </div>
                        </div>
                        <!-- Submit Button -->
                        <div class="row">
                            <div class="input-field">
                                <center><input class="button is-warning is-rounded add-comment-button" type="submit"
                                        value="Submit"></center>
                            </div>
                        </div>
                    </form>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
            <p class="title">Comments:</p>
            <div class="content">
                <!-- Content -->
                {{#if article.comment}}
                {{#each article.comment}}
                <div class="card">
                    <p id="nameComment">{{name}}</p>
                    <p>{{body}}<p>
                </div>
                {{/each}}
                {{else}}
                <p>No Comments Yet.</p>
                {{/if}}
            </div>
        </article>
    </div>
</div>
